# =========================
# Node / TypeScript
# =========================
node_modules/
dist/
lib/

# =========================
# Environment
# =========================
.env

# =========================
# Editor / IDE
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Build / temp
# =========================
*.tsbuildinfo
